@media (max-width: 768px) {
  aside {
    background-color: #F8F8F8;
    min-width: 250px;
    height: 100%;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    position: absolute;
    transform: translateX(-101%);
    transition: transform 0.3s ease-in-out;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  aside {
    background-color: #1c2831;
  }
}
@media (max-width: 768px) {
  aside > div.header {
    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  aside > div.header > div.logo {
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
  }
  aside > div.header > span.titulo {
    color: tomato;
    font-size: 1rem;
    font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
    letter-spacing: normal;
    font-weight: normal;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  aside > div.header > span.titulo {
    color: goldenrod;
  }
}
@media (max-width: 768px) {
  aside > div.body {
    padding: 10px;
    display: grid;
    gap: 15px;
    align-items: start;
    grid-template-rows: auto auto auto 0.8fr auto auto auto 1fr;
    justify-items: center;
  }
  aside > div.body > span {
    color: #003d8c;
    font-size: 0.8rem;
    font-family: "OpenSansSemiBold", "Segoe UI", sans-serif;
    letter-spacing: normal;
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, 0);
    text-align: left;
    width: 100%;
    padding: 0 0px 0 15px;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  aside > div.body > span {
    color: aquamarine;
  }
}
@media (max-width: 768px) {
  aside > div.body > a {
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 10px;
    min-width: 60%;
    max-width: 60%;
    display: grid;
    gap: 10px;
    grid-template-columns: min-content 1fr;
    outline: 1px solid rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    align-items: center;
    text-decoration: none;
  }
  aside > div.body > a > svg {
    fill: #003C8C;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  aside > div.body > a > svg {
    fill: cornflowerblue;
  }
}
@media (max-width: 768px) {
  aside > div.body > a > span.titulo {
    color: #003d8c;
    font-size: 1rem;
    font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
    letter-spacing: normal;
    font-weight: normal;
    text-align: left;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  aside > div.body > a > span.titulo {
    color: cornflowerblue;
  }
}
@media (max-width: 768px) {
  aside > div.body > a:hover > svg {
    color: tomato;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  aside > div.body > a:hover > svg {
    color: cornflowerblue;
  }
}
@media (max-width: 768px) {
  aside > div.body > a:hover > span.titulo {
    color: tomato;
    font-size: 1rem;
    font-family: "JosefinSansRegular", "OpenSansSemiBold", "Segoe UI", sans-serif;
    letter-spacing: normal;
    font-weight: normal;
    text-align: left;
  }
}
@media (max-width: 768px) and (prefers-color-scheme: dark) {
  aside > div.body > a:hover > span.titulo {
    color: cornflowerblue;
  }
}/*# sourceMappingURL=aside.768.css.map */